/*#region index*/
#hero{
    grid-row-start: 1;
    grid-row-end: span 3;
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;
    background-position: center center;
    display: grid;
    grid-template-rows: auto auto;
  }
  #heroText{
    grid-row: 1;
    padding: 60px calc(20vw - 40px) 0 calc(8vw - 40px);
    margin: 0;
    color: white;
    text-shadow: black 1px 1px;
  }
  #heroTextBox{
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  #heroText h5{
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
    font-size: 2rem;
    color: var(--beje);
  }
  #heroText p{
    text-indent: 20px;
    text-align: justify;
  }
  #heroBtn{
    grid-row: 2;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    height: 12vh;
    padding-right: 8vw;
    font-weight: 800;
    min-height: 60px;
    margin: 5vw 0;
  }
  #heroBtn>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 23%;
    border-radius: 10px;
    background-color: var(--verdeEscuroTransp);
  }
  #heroBtn>div>a{
    display: block;
    text-align: center;
    line-height: 100%;
    text-decoration: none; color: var(--beje); text-shadow: black 1px 1px;
  }
  #heroBtn>div:hover{
    background-color: var(--verdeEscuro);
    transition: all linear 0.5s;
  }
  /*cards*/
  #cards{
    grid-row: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 100px;
    background-color: var(--beje);
    gap: 2vw;
  }
  .cardAnimal{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-size: cover;
    background-color: var(--beje);
    border-radius: 10px;
    color: white;
    text-shadow: black 2px 1px;
  }
  .cardAnimal>.hide{
    display: block;
    padding: 40px;
    border-radius: 10px;
  }
  .hide>h1{
    margin-bottom: 10px;
    color: var(--beje);
  }
  #cardA{
    background-image: url(/img/cow.jpg);
  }
  #cardB{
    background-image: url(/img/goose.jpg);
  }
  #cardC{
    background-image: url(/img/goat.jpg);
  }
  .cardAnimal:hover>.hide{
    display: block;
    background-color: rgba(0, 0, 0, 0.55);
    opacity: 100%;
    transition: all 0.5s linear;
  }
  @media only screen and (max-width: 1280px) {
    #cards{
      flex-flow: column;
      padding: 40px 10vw;
    }
    .cardAnimal{
      width: 60%;
    }
    #heroText{
      padding: 8vw 8vw 0 8vw;
    }
  }
  @media only screen and (max-width: 850px) {
    #cards{
      flex-flow: column;
      padding: 40px;
      gap: 40px;
    }
    .cardAnimal{
      width: 100%;
    }
  
  }
  @media only screen and (max-width: 500px) {
    #heroBtn{
      justify-content: center; 
      padding: 0;
    }
    #heroBtn>div{
      width: 85%;
    }
    #cards{
      flex-flow: column;
      padding: 10px;
      gap: 10px;
    }
    .cardAnimal{
      width: auto;
    }
  }
  /*#endregion index*/